/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
line-height: 1.3em;
	vertical-align: baseline;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height:1.4;
	letter-spacing:0em;
	
}


body {
	line-height: 1;
	color: #305050;
	background: url(../images/bg.jpg) #a9c9fe;
	background-repeat:repeat-x;

}

a:link {color: #6b8e23;}
a:visited {color: #5f7e70;}
a:active {color: #d0e0d0;}

ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}

table {
	border-spacing: 3px;
	width:100%;
	table-layout: fixed;
	word-break: break-all;
}
caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}
html {
	overflow-y: scroll;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a:focus {
	outline: thin dotted;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}
audio,
canvas,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
}
del {
	color: #333;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin: 24px;
	margin-bottom: 1.714285714rem;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
.small {
	font-size: smaller;
	font-weight: nomal !important;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

/* Clearing floats */
.clear:after,
.wrapper:after,
.format-status .entry-header:after {
	clear: both;
}
.clear:before,
.clear:after,
.wrapper:before,
.wrapper:after,
.format-status .entry-header:before,
.format-status .entry-header:after {
	display: table;
	content: "";
}


/* =Repeatable patterns
-------------------------------------------------------------- */

/* Small headers */
.archive-title,
.page-title,
.widget-title{
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 2.181818182;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	background:#9eb287;
	text-shadow: 1px 1px 3px #000;
	 border-radius: 5px; 
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 5px;   /* Firefox用 */  
}

/* Shared Post Format styling */
article.format-quote footer.entry-meta,
article.format-link footer.entry-meta,
article.format-status footer.entry-meta {
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 2.181818182;
}

/* Form fields, general styles first */
button,
input,
select,
textarea {
	border: 1px solid #ccc;
	border-radius: 3px;
	font-family: inherit;
	max-width:600px;
	padding: 6px;
	padding: 0.428571429rem;
	margin: 5px;
}
button,
input {
	line-height: normal;
}
textarea {
	font-size: 100%;
	overflow: auto;
	vertical-align: top;
}

/* Reset non-text input types */
input[type="checkbox"],
input[type="radio"],
input[type="file"],
input[type="hidden"],
input[type="image"],
input[type="color"] {
	border: 0;
	border-radius: 0;
	padding: 0;
}

/* Buttons */
.menu-toggle,
input[type="submit"],
input[type="button"],
input[type="reset"],
article.post-password-required input[type=submit],
.bypostauthor cite span {
	padding: 6px 15px;
	margin: 8px;
	font-size: 18px;
	line-height: 1.428571429;
	font-weight: normal;
	color: #305050;
	border: 1px solid #d2d2d2;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
}

.wpcf7c-conf {
background-color: #fff !important;
color: 6b8e23 !important;
border: 1px solid #6b8e23 !important;
}

.menu-toggle,
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	cursor: pointer;
	font-size:14px;

}
button[disabled],
input[disabled] {
	cursor: default;
}
.menu-toggle:hover,
.menu-toggle:focus,
button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
article.post-password-required input[type=submit]:hover {
		color: #fff;
	background:#9eb287;
	border: 1px solid #d2d2d2;
	opacity:0.9;
}
.menu-toggle:active,
.menu-toggle.toggled-on,
button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
		color: #305050;
	background: url(../images/bg_leather.jpg) #9eb287;
	border: 1px solid #fff;
}
.bypostauthor cite span {
	color: #fff;
	background-color: #21759b;
	background-image: none;
	border: 1px solid #1f6f93;
	border-radius: 2px;
	box-shadow: none;
	padding: 0;
}

/* Responsive images */
.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full,
img.size-large,
img.header-image,
img.wp-post-image {
	max-width: 100%;
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

/* Make sure videos and embeds fit their containers */
embed,
iframe,
object,
video {
	max-width: 100%;
}
.entry-content .twitter-tweet-rendered {
	max-width: 100% !important; /* Override the Twitter embed fixed width */
}

/* Images */
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.entry-content img,
.comment-content img,
.widget img,
img.header-image,
.author-avatar img,
img.wp-post-image {
	/* Add fancy borders to all WordPress-added images but not things like badges and icons and the like */

}
.wp-caption {
	max-width: 100%; /* Keep wide captions from overflowing their container. */
	padding: 4px;
}
.wp-caption .wp-caption-text,
.gallery-caption,
.entry-caption {
	font-style: italic;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	color: #757575;
}
img.wp-smiley,
.rsswidget img {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.entry-content dl.gallery-item {
	margin: 0;
}
.gallery-item a,
.gallery-caption {
	width: 90%;
}
.gallery-item a {
	display: block;
}
.gallery-caption a {
	display: inline;
}
.gallery-columns-1 .gallery-item a {
	max-width: 100%;
	width: auto;
}
.gallery .gallery-icon img {
	height: auto;
	max-width: 90%;
	padding: 5%;
}
.gallery-columns-1 .gallery-icon img {
	padding: 3%;
}

/* Navigation */
.site-content nav {
	clear: both;
	line-height: 2;
	overflow: hidden;
	margin-top: 30px;
}
#nav-above {
	padding: 24px 0;
	padding: 1.714285714rem 0;
}
#nav-above {
	display: none;
}
.paged #nav-above {
	display: block;
}
.nav-previous,
.previous-image {
	float: left;
	width: 50%;
}
.nav-next,
.next-image {
	float: right;
	text-align: right;
	width: 50%;
}
.nav-single + .comments-area,
#comment-nav-above {
	margin: 48px 0;
	margin: 3.428571429rem 0;
}

/* Author profiles */
.author .archive-header {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.author-info {
	border-top: 1px solid #ededed;
	margin: 24px 0;
	margin: 1.714285714rem 0;
	padding-top: 24px;
	padding-top: 1.714285714rem;
	overflow: hidden;
}
.author-description p {
	color: #757575;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
}
.author.archive .author-info {
	border-top: 0;
	margin: 0 0 48px;
	margin: 0 0 3.428571429rem;
}
.author.archive .author-avatar {
	margin-top: 0;
}


/* =Basic structure
-------------------------------------------------------------- */

a {
	outline: none;
	color: #9eb287;
}
a:hover {
	color: #0f3647;
}

/* Assistive text */
.assistive-text,
.site .screen-reader-text {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
}

	
.main-navigation .assistive-text:focus {
	background: #fff;
	border: 2px solid #333;
	border-radius: 3px;
	clip: auto !important;
	color: #000;
	display: block;
	font-size: 12px;
	padding: 12px;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 100000; /* Above WP toolbar */
}

/* Page structure */
.site {
	padding: 0 24px;
	padding: 0 1.714285714rem;
	background-color: #fff;
}
.site-content {
	margin: 24px 0 0;
	margin: 1rem 0 0;
}
.widget-area {
	margin: 15px 0 0;
			padding:10px;
		background:#fefce7;
	 border-radius: 5px; 
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 5px;   /* Firefox用 */  
		box-shadow: 1px 1px 3px #ccc;
}

/* Header */

#header{
	width: 100%;
	overflow: hidden;
	background:#fefce7;
	border-bottom: #6b8e23 5px solid;
}
.site-header {
	padding: 24px 0;
	padding: 1.714285714rem 0;
}
.site-header h1,
.site-header h2 {
	text-align: center;
}
.site-header h1 a,
.site-header h2 a {
	color: #515151;
	display: inline-block;
	text-decoration: none;
}
.site-header h1 a:hover,
.site-header h2 a:hover {
	color: #21759b;
}
.site-header h1 {
	font-size: 24px;
	font-size: 1.714285714rem;
	line-height: 1.285714286;
	margin-bottom: 14px;
	margin-bottom: 1rem;
}
.site-header h2 {
	font-weight: normal;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
	color: #757575;
}
.header-image {
	margin-top: 24px;
	margin-top: 1.714285714rem;
}

#main{
	overflow: hidden;
	padding-bottom: 30px;
}

/* Navigation Menu */
.main-navigation {
	margin-top: 24px;
	margin-top: 1.714285714rem;
	text-align: center;
}
.main-navigation li {
	margin-top: 24px;
	margin-top: 1.714285714rem;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 1.42857143;
}
.main-navigation a {
	color: #5e5e5e;
}
.main-navigation a:hover,
.main-navigation a:focus {
	color: #21759b;
}
.main-navigation ul.nav-menu,
.main-navigation div.nav-menu > ul {
	display: none;
}
.main-navigation ul.nav-menu.toggled-on,
.menu-toggle {
	display: inline-block;
}

/* Banner */
section[role="banner"] {
	margin-bottom: 48px;
	margin-bottom: 3.428571429rem;
}

/* Sidebar */
.widget-area .widget {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	margin-bottom: 30px;
	word-wrap: break-word;
}
.widget-area .widget h3 {
	margin-bottom: 15px;
}
.widget-area .widget p,
.widget-area .widget li,
.widget-area .widget .textwidget {
	font-size: 13px;
	line-height: 1.846153846;
}

.widget-area .widget li{
	background:url(images/arrow.png) no-repeat;
	background-position:0 5px;
	padding: 0 0 8px 10px;
	border-bottom: #eee dotted 1px;
	margin-bottom: 8px;
}

.widget-area .widget p {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.widget-area .textwidget ul {
	list-style: disc outside;
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
}

.widget-area .widget a:hover {
	color: #305050;
}

.widget-area #s {
	width: 53.66666666666%; /* define a width to avoid dropping a wider submit button */
}

.widget_brand{
}

.widget_brand li{
	height: 48px;
	clear: both;
	margin-bottom: 10px;
}


.widget_brand li p{
	padding-top: 11px;
}

.widget_brand li img{
	float: left;
	width: 80px;
	margin-right: 8px;
}
/* Footer */
footer[role="contentinfo"] {
	border-top: 1px solid #ededed;
	clear: both;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	max-width: 960px;
	max-width: 68.571428571rem;
	margin-top: 24px;
	margin-top: 1.714285714rem;
	margin-left: auto;
	margin-right: auto;
	padding: 24px 0;
	padding: 1.714285714rem 0;
}
footer[role="contentinfo"] a {
	color: #686868;
}
footer[role="contentinfo"] a:hover {
	color: #21759b;
}



/* =Main content and comment content
-------------------------------------------------------------- */

.entry-meta {
	clear: both;
}
.entry-header {
	margin-bottom: 15px;
}

.entry-header .entry-title {
	font-size: 20px;
	font-size: 1.428571429rem;
	line-height: 1.2;
	font-weight: normal;
}
.entry-header .entry-title a {
	text-decoration: none;
}
.entry-header .entry-format {
	margin-top: 24px;
	margin-top: 1.714285714rem;
	font-weight: normal;
}
.entry-header .comments-link {
	margin-top: 24px;
	margin-top: 1.714285714rem;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
	color: #757575;
}
.comments-link a,
.entry-meta a {
	color: #757575;
}
.comments-link a:hover,
.entry-meta a:hover {
	color: #21759b;
}
article.sticky .featured-post {
	border-top: 4px double #ededed;
	border-bottom: 4px double #ededed;
	color: #757575;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 3.692307692;
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
	text-align: center;
}
.entry-content,
.entry-summary,
.mu_register {
	line-height: 1.714285714;
}


.entry-content h1,
.comment-content h1,
.entry-content h2,
.comment-content h2,
.entry-content h3,
.comment-content h3,
.entry-content h4,
.comment-content h4,
.entry-content h5,
.comment-content h5,
.entry-content h6,
.comment-content h6 {
	margin: 24px 0;
	margin: 1.714285714rem 0;
	line-height: 1.714285714;
}
.entry-content h1,
.comment-content h1 {
	font-size: 21px;
	font-size: 1.5rem;
	line-height: 1.5;
}
.entry-content h2,
.comment-content h2,
.mu_register h2 {
	font-size: 18px;
	font-size: 1.285714286rem;
	line-height: 1.6;
}
.entry-content h3,
.comment-content h3 {
	font-size: 16px;
	font-size: 1.142857143rem;
	line-height: 1 !important;
}
.entry-content h4,
.comment-content h4 {
	font-size: 14px;
	font-size: 1rem;
	line-height: 1.846153846;
}
.entry-content h5,
.comment-content h5 {
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
}
.entry-content h6,
.comment-content h6 {
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 1.846153846;

}
.entry-content p,
.entry-summary p,
.comment-content p,
.mu_register p {
	margin: 0 0 8px;
	line-height: 1.1;
}

.entry-content ol,
.comment-content ol,
.entry-content ul,
.comment-content ul,
.mu_register ul {
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
	line-height: 1.714285714;
}
.entry-content ul ul,
.comment-content ul ul,
.entry-content ol ol,
.comment-content ol ol,
.entry-content ul ol,
.comment-content ul ol,
.entry-content ol ul,
.comment-content ol ul {
	margin-bottom: 0;
}
.entry-content ul,
.comment-content ul,
.mu_register ul {
	list-style: disc outside;
}
.entry-content ol,
.comment-content ol {
	list-style: decimal outside;
}
.entry-content li,
.comment-content li,
.mu_register li {
	margin: 0 0 0 36px;
	margin: 0 0 0 2.571428571rem;
}
.entry-content blockquote,
.comment-content blockquote {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
	padding: 24px;
	padding: 1.714285714rem;
	font-style: italic;
}
.entry-content blockquote p:last-child,
.comment-content blockquote p:last-child {
	margin-bottom: 0;
}
.entry-content code,
.comment-content code {
	font-family: Consolas, Monaco, Lucida Console, monospace;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
}
.entry-content pre,
.comment-content pre {
	border: 1px solid #ededed;
	color: #666;
	font-family: Consolas, Monaco, Lucida Console, monospace;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 1.714285714;
	margin: 24px 0;
	margin: 1.714285714rem 0;
	overflow: auto;
	padding: 24px;
	padding: 1.714285714rem;
}
.entry-content pre code,
.comment-content pre code {
	display: block;
}
.entry-content abbr,
.comment-content abbr,
.entry-content dfn,
.comment-content dfn,
.entry-content acronym,
.comment-content acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
.entry-content address,
.comment-content address {
	display: block;
	line-height: 1.714285714;
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
}
img.alignleft,
.wp-caption.alignleft {
	margin: 12px 24px 12px 0;
	margin: 0.857142857rem 1.714285714rem 0.857142857rem 0;
}
img.alignright,
.wp-caption.alignright {
	margin: 12px 0 12px 24px;
	margin: 0.857142857rem 0 0.857142857rem 1.714285714rem;
}
img.aligncenter,
.wp-caption.aligncenter {
	clear: both;
	margin-top: 12px;
	margin-top: 0.857142857rem;
	margin-bottom: 12px;
	margin-bottom: 0.857142857rem;
}
.entry-content embed,
.entry-content iframe,
.entry-content object,
.entry-content video {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.entry-content dl,
.comment-content dl {
	margin: 0 24px;
	margin: 0 1.714285714rem;
}
.entry-content dt,
.comment-content dt {
	font-weight: bold;
	line-height: 1.714285714;
}
.entry-content dd,
.comment-content dd {
	line-height: 1.714285714;
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.entry-content table,
.comment-content table {
	color: #757575;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
	width: 100%;
}
.entry-content table caption,
.comment-content table caption {
	font-size: 16px;
	font-size: 1.142857143rem;
	margin: 24px 0;
	margin: 1.714285714rem 0;
}

.site-content article {
	margin-bottom: 10px;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
.page-links {
	clear: both;
	line-height: 1.714285714;
}
footer.entry-meta {
	display: none;
}
.single-author .entry-meta .by-author {
	display: none;
}
.mu_register h2 {
	color: #757575;
	font-weight: normal;
}


/* =Archives
-------------------------------------------------------------- */

.archive-header,
.page-header {
	margin-bottom: 15px;
}
.archive-meta {
	color: #757575;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	margin-top: 22px;
	margin-top: 1.571428571rem;
}

/* =Single audio/video attachment view
-------------------------------------------------------------- */

.attachment .entry-content .mejs-audio {
	max-width: 400px;
}

.attachment .entry-content .mejs-container {
	margin-bottom: 24px;
}


/* =Single image attachment view
-------------------------------------------------------------- */

.article.attachment {
	overflow: hidden;
}
.image-attachment div.attachment {
	text-align: center;
}
.image-attachment div.attachment p {
	text-align: center;
}
.image-attachment div.attachment img {
	display: block;
	height: auto;
	margin: 0 auto;
	max-width: 100%;
}
.image-attachment .entry-caption {
	margin-top: 8px;
	margin-top: 0.571428571rem;
}


/* =Aside post format
-------------------------------------------------------------- */

article.format-aside h1 {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
article.format-aside h1 a {
	text-decoration: none;
	color: #4d525a;
}
article.format-aside h1 a:hover {
	color: #2e3542;
}
article.format-aside .aside {
	padding: 24px 24px 0;
	padding: 1.714285714rem;
	background: #d2e0f9;
	border-left: 22px solid #a8bfe8;
}
article.format-aside p {
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
	color: #4a5466;
}
article.format-aside blockquote:last-child,
article.format-aside p:last-child {
	margin-bottom: 0;
}


/* =Post formats
-------------------------------------------------------------- */

/* Image posts */
article.format-image footer h1 {
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
	font-weight: normal;
}
article.format-image footer h2 {
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 2.181818182;
}
article.format-image footer a h2 {
	font-weight: normal;
}

/* Link posts */
article.format-link header {
	padding: 0 10px;
	padding: 0 0.714285714rem;
	float: right;
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 2.181818182;
	font-weight: bold;
	font-style: italic;
	text-transform: uppercase;
	color: #848484;
	background-color: #ebebeb;
	border-radius: 3px;
}
article.format-link .entry-content {
	max-width: 80%;
	float: left;
}
article.format-link .entry-content a {
	font-size: 22px;
	font-size: 1.571428571rem;
	line-height: 1.090909091;
	text-decoration: none;
}

/* Quote posts */
article.format-quote .entry-content p {
	margin: 0;
	padding-bottom: 24px;
	padding-bottom: 1.714285714rem;
}
article.format-quote .entry-content blockquote {
	display: block;
	padding: 24px 24px 0;
	padding: 1.714285714rem 1.714285714rem 0;
	font-size: 15px;
	font-size: 1.071428571rem;
	line-height: 1.6;
	font-style: normal;
	color: #6a6a6a;
	background: #efefef;
}

/* Status posts */
.format-status .entry-header {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.format-status .entry-header header {
	display: inline-block;
}
.format-status .entry-header h1 {
	font-size: 15px;
	font-size: 1.071428571rem;
	font-weight: normal;
	line-height: 1.6;
	margin: 0;
}
.format-status .entry-header h2 {
	font-size: 12px;
	font-size: 0.857142857rem;
	font-weight: normal;
	line-height: 2;
	margin: 0;
}
.format-status .entry-header header a {
	color: #757575;
}
.format-status .entry-header header a:hover {
	color: #21759b;
}
.format-status .entry-header img {
	float: left;
	margin-right: 21px;
	margin-right: 1.5rem;
}


/* =Comments
-------------------------------------------------------------- */

.comments-title {
	margin-bottom: 48px;
	margin-bottom: 3.428571429rem;
	font-size: 16px;
	font-size: 1.142857143rem;
	line-height: 1.5;
	font-weight: normal;
}
.comments-area article {
	margin: 24px 0;
	margin: 1.714285714rem 0;
}
.comments-area article header {
	margin: 0 0 48px;
	margin: 0 0 3.428571429rem;
	overflow: hidden;
	position: relative;
}
.comments-area article header img {
	float: left;
	padding: 0;
	line-height: 0;
}
.comments-area article header cite,
.comments-area article header time {
	display: block;
	margin-left: 85px;
	margin-left: 6.071428571rem;
}
.comments-area article header cite {
	font-style: normal;
	font-size: 15px;
	font-size: 1.071428571rem;
	line-height: 1.42857143;
}
.comments-area cite b {
	font-weight: normal;
}
.comments-area article header time {
	line-height: 1.714285714;
	text-decoration: none;
	font-size: 12px;
	font-size: 0.857142857rem;
	color: #5e5e5e;
}
.comments-area article header a {
	text-decoration: none;
	color: #5e5e5e;
}
.comments-area article header a:hover {
	color: #21759b;
}
.comments-area article header cite a {
	color: #444;
}
.comments-area article header cite a:hover {
	text-decoration: underline;
}
.comments-area article header h4 {
	position: absolute;
	top: 0;
	right: 0;
	padding: 6px 12px;
	padding: 0.428571429rem 0.857142857rem;
	font-size: 12px;
	font-size: 0.857142857rem;
	font-weight: normal;
	color: #fff;
	background-color: #0088d0;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #009cee, #0088d0);
	background-image: -ms-linear-gradient(top, #009cee, #0088d0);
	background-image: -webkit-linear-gradient(top, #009cee, #0088d0);
	background-image: -o-linear-gradient(top, #009cee, #0088d0);
	background-image: linear-gradient(top, #009cee, #0088d0);
	border-radius: 3px;
	border: 1px solid #007cbd;
}
.comments-area .bypostauthor cite span {
	position: absolute;
	margin-left: 5px;
	margin-left: 0.357142857rem;
	padding: 2px 5px;
	padding: 0.142857143rem 0.357142857rem;
	font-size: 10px;
	font-size: 0.714285714rem;
}
.comments-area .bypostauthor cite b {
	font-weight: bold;
}
a.comment-reply-link,
a.comment-edit-link {
	color: #686868;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
}
a.comment-reply-link:hover,
a.comment-edit-link:hover {
	color: #21759b;
}
.commentlist .pingback {
	line-height: 1.714285714;
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}

/* Comment form */
#respond {
	margin-top: 48px;
	margin-top: 3.428571429rem;
}
#respond h3#reply-title {
	font-size: 16px;
	font-size: 1.142857143rem;
	line-height: 1.5;
}
#respond h3#reply-title #cancel-comment-reply-link {
	margin-left: 10px;
	margin-left: 0.714285714rem;
	font-weight: normal;
	font-size: 12px;
	font-size: 0.857142857rem;
}
#respond form {
	margin: 24px 0;
	margin: 1.714285714rem 0;
}
#respond form p {
	margin: 11px 0;
	margin: 0.785714286rem 0;
}
#respond form p.logged-in-as {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
#respond form label {
	display: block;
	line-height: 1.714285714;
}
#respond form input[type="text"],
#respond form textarea {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 1.714285714;
	padding: 10px;
	padding: 0.714285714rem;
	width: 100%;
}
#respond form p.form-allowed-tags {
	margin: 0;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	color: #5e5e5e;
}
.required {
	color: red;
}


/* =Front page template
-------------------------------------------------------------- */

.entry-page-image {
	margin-bottom: 14px;
	margin-bottom: 1rem;
}
.template-front-page .site-content article {
	border: 0;
	margin-bottom: 0;
}
.template-front-page .widget-area {
	clear: both;
	float: none;
	width: auto;
	padding-top: 24px;
	padding-top: 1.714285714rem;
	border-top: 1px solid #ededed;
}
.template-front-page .widget-area .widget li {
	margin: 8px 0 0;
	margin: 0.571428571rem 0 0;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.714285714;
	list-style-type: square;
	list-style-position: inside;
}
.template-front-page .widget-area .widget li a {
	color: #757575;
}
.template-front-page .widget-area .widget li a:hover {
	color: #21759b;
}
.template-front-page .widget-area .widget_text img {
	float: left;
	margin: 8px 24px 8px 0;
	margin: 0.571428571rem 1.714285714rem 0.571428571rem 0;
}


/* =Widgets
-------------------------------------------------------------- */

.widget-area .widget ul ul {
	margin-left: 12px;
	margin-left: 0.857142857rem;
}
.widget_rss li {
	margin: 12px 0;
	margin: 0.857142857rem 0;
}
.widget_recent_entries .post-date,
.widget_rss .rss-date {
	color: #aaa;
	font-size: 11px;
	font-size: 0.785714286rem;
	margin-left: 12px;
	margin-left: 0.857142857rem;
}
#wp-calendar {
	margin: 0;
	width: 100%;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
	color: #686868;
}
#wp-calendar th,
#wp-calendar td,
#wp-calendar caption {
	text-align: left;
}
#wp-calendar #next {
	padding-right: 24px;
	padding-right: 1.714285714rem;
	text-align: right;
}
.widget_search label {
	display: none;
}
.widget_twitter li {
	list-style-type: none;
}
.widget_twitter .timesince {
	display: block;
	text-align: right;
}


/* =Plugins
----------------------------------------------- */

img#wpstats {
	display: block;
	margin: 0 auto 24px;
	margin: 0 auto 1.714285714rem;
}


/* =Media queries
-------------------------------------------------------------- */

/* Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See http://core.trac.wordpress.org/ticket/25888.
 */
@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}

/* Minimum width of 600 pixels. */
@media screen and (min-width: 600px) {
	.author-avatar {
		float: left;
		margin-top: 8px;
		margin-top: 0.571428571rem;
	}
	.author-description {
		float: right;
		width: 80%;
	}
	.site {
		margin: 0 auto;
		max-width: 960px;
		max-width: 68.571428571rem;
		overflow: hidden;
	}
	.site-content {
		float: left;
		width: 70%;
	}
	body.template-front-page .site-content,
	body.attachment .site-content,
	body.full-width .site-content {
		width: 100%;
	}
	.widget-area {
		float: right;
		width: 28%;

	}
	.site-header h1,
	.site-header h2 {
		text-align: left;
	}
	.site-header h1 {
		font-size: 26px;
		font-size: 1.857142857rem;
		line-height: 1.846153846;
		margin-bottom: 0;
	}
	.main-navigation ul.nav-menu,
	.main-navigation div.nav-menu > ul {
		border-bottom: 1px solid #ededed;
		border-top: 1px solid #ededed;
		display: inline-block !important;
		text-align: left;
		width: 100%;
	}
	.main-navigation ul {
		margin: 0;
		text-indent: 0;
	}
	.main-navigation li a,
	.main-navigation li {
		display: inline-block;
		text-decoration: none;
	}
	.main-navigation li a {
		border-bottom: 0;
		color: #6a6a6a;
		line-height: 3.692307692;
		text-transform: uppercase;
		white-space: nowrap;
	}
	.main-navigation li a:hover,
	.main-navigation li a:focus {
		color: #000;
	}
	.main-navigation li {
		margin: 0 40px 0 0;
		margin: 0 2.857142857rem 0 0;
		position: relative;
	}
	.main-navigation li ul {
		margin: 0;
		padding: 0;
		position: absolute;
		top: 100%;
		z-index: 1;
		height: 1px;
		width: 1px;
		overflow: hidden;
		clip: rect(1px, 1px, 1px, 1px);
	}
	.main-navigation li ul ul {
		top: 0;
		left: 100%;
	}
	.main-navigation ul li:hover > ul,
	.main-navigation ul li:focus > ul,
	.main-navigation .focus > ul {
		border-left: 0;
		clip: inherit;
		overflow: inherit;
		height: inherit;
		width: inherit;
	}
	.main-navigation li ul li a {
		background: #efefef;
		border-bottom: 1px solid #ededed;
		display: block;
		font-size: 11px;
		font-size: 0.785714286rem;
		line-height: 2.181818182;
		padding: 8px 10px;
		padding: 0.571428571rem 0.714285714rem;
		width: 180px;
		width: 12.85714286rem;
		white-space: normal;
	}
	.main-navigation li ul li a:hover,
	.main-navigation li ul li a:focus {
		background: #e3e3e3;
		color: #444;
	}
	.main-navigation .current-menu-item > a,
	.main-navigation .current-menu-ancestor > a,
	.main-navigation .current_page_item > a,
	.main-navigation .current_page_ancestor > a {
		color: #636363;
		font-weight: bold;
	}
	.menu-toggle {
		display: none;
	}
	.entry-header .entry-title {
		font-size: 18px;
		font-weight:bold;
		margin-bottom: 5px;
	}
	#respond form input[type="text"] {
		width: 46.333333333%;
	}
	#respond form textarea.blog-textarea {
		width: 79.666666667%;
	}
	.template-front-page .site-content,
	.template-front-page article {
		overflow: hidden;
	}
	.template-front-page.has-post-thumbnail article {
		float: left;
		width: 47.916666667%;
	}
	.entry-page-image {
		float: right;
		margin-bottom: 0;
		width: 47.916666667%;
	}
	.template-front-page .widget-area .widget,
	.template-front-page.two-sidebars .widget-area .front-widgets {
		float: left;
		width: 51.875%;
		margin-bottom: 24px;
		margin-bottom: 1.714285714rem;
	}
	.template-front-page .widget-area .widget:nth-child(odd) {
		clear: right;
	}
	.template-front-page .widget-area .widget:nth-child(even),
	.template-front-page.two-sidebars .widget-area .front-widgets + .front-widgets {
		float: right;
		width: 39.0625%;
		margin: 0 0 24px;
		margin: 0 0 1.714285714rem;
	}
	.template-front-page.two-sidebars .widget,
	.template-front-page.two-sidebars .widget:nth-child(even) {
		float: none;
		width: auto;
	}
	.commentlist .children {
		margin-left: 48px;
		margin-left: 3.428571429rem;
	}
}

/* Minimum width of 960 pixels. */
@media screen and (min-width: 960px) {

	body .site {
		padding: 0 40px;
		padding: 0 2.857142857rem;
		margin-top: 48px;
		margin-top: 3.428571429rem;
		margin-bottom: 48px;
		margin-bottom: 3.428571429rem;
		box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
	}
	body.custom-background-empty {
		background-color: #fff;
	}
	body.custom-background-empty .site,
	body.custom-background-white .site {
		padding: 0;
		margin-top: 0;
		margin-bottom: 0;
		box-shadow: none;
	}
}



a{
	text-decoration:none;
}

a:hover{
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}

h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}


h1{
	margin: 0;
}


h2{
	margin: 0px auto 15px;
	overflow: hidden;
	font-size:21px;
}


span.clover{
	display: block;
	width: 25px;
	height: 28px;
	float: left;
	margin:2px 10px 3px 0;
}


h3{
	margin:0 0 0 0;
}

ul, ul li {
padding:0;
	list-style-type:none;
}
ol, ol li {
	list-style-type:none;
}

dl dt {
	font-weight:bold;
	margin: 0 0 0.5em 0;
}
dd {
	margin: 0 0 1.5em 0;
}
table {
	margin-bottom:1.4em;
	width:100%;
}
th {
	font-weight:bold;
}
th, td, caption {
	padding:4px 10px 4px 5px;
}

.m0a {
	display: block;
	margin: 0px auto;
}

.mt5{
	margin-top: 5px;
}

.mt10{
	margin-top: 10px;
}

.mt15{
	margin-top: 15px;
}

.mt30{
	margin-top: 30px;
}

.mt50{
	margin-top: 50px;
}


.w100{
	width: 100%;
}

.max750{
	max-width:750px;
	margin: 0 auto;
}

.fr {
	float: right;
}
.fl {
	float: left;
}
* html .clearfix {
    height: 1%;
}
* + html .clearfix {
	display: inline-block;
}
.cl {
    clear: both;
}


.row{
	width: 98%;
	max-width:970px;
	margin: 0px auto;
}


.bggr{
	background:#9fca3e;
	padding:3px;
	margin-bottom: 8px;
	color: #fff;
	text-align: center;
	font-weight:bold;
}

.bgor{
	background:#f5c53a;
	padding:3px;
	margin-bottom: 8px;
	color: #fff;
	text-align: center;
	font-weight:bold;
}


#header,#footer{
	width:100%;
	margin: 0;
	padding: 0;
	color: #305050;
}

#header a{
	text-decoration:none;
}

#logo{
	width:228px;
	padding: 10px 10px;
	float: left;
	
}

#header .toContact{
	float: right;
	margin:1.5% 1.5% 0 0 !important;
}
 
@media screen and (max-width: 768px) {logo
	#header .toContact{
		margin:1.5% 2% 0 !important;
	}
}

.breadcrumbs{
	float:left;
	margin-top : 5px ;
	font-size:80%;
	padding:0 5px 5px;
}

.eyecatch{
	width: 100%;
	margin:0 auto;
	position: relative;
}

.eyecatch .ttl{
	width: 100%;
	margin: 45px auto 0;
	max-width:383px;
	text-align: center;
}

.nivo-controlNav {
	padding: 5px 0;
}

.news li{
	padding:5px 0 0 20px;
	border-bottom: 1px dotted #ccc;
	background:url(images/news_head.png) 5px 12px no-repeat;
	background-size:8px 7px;
	
}

.section{
		padding: 0px;
		clear: both;
}

.bgwh{
	background:#fefce7;
	 border-radius: 5px; 
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 5px;   /* Firefox用 */  
		box-shadow: 1px 1px 3px #ccc;
		padding: 20px 15px;
		margin-bottom: 30px;
		overflow: hidden;	
}

h1.what {
	font-size:21px;
	padding:0px 8px 2px 46px;
	background:url('../images/h2_head.png') no-repeat;
	background-position:5px 3px;
	color: #5f7e70;
	border-bottom: 1px solid #9eb287;
	text-shadow: 1px 1px 3px #eee;
	}

h2.what {
	font-size:21px;
	padding:0px 8px 2px 46px;
	background:url('../images/h2_head.png') no-repeat;
	background-position:5px 3px;
	color: #5f7e70;
	border-bottom: 1px solid #9eb287;
	text-shadow: 1px 1px 3px #eee;
	}


	
.headeing_logo{
	width: 30%;
	margin-top: 60px;
	float: left;
}
	
.headeing_txt{
	width: 68%;
	margin-left: 2%;
	margin-top: 20px;
	overflow: hidden;
}
	
h2.bb-gradient {
color: #fff;
font-size: 18px;
text-shadow: 1px 1px 3px #000;
background: -webkit-linear-gradient(left, #6b8e23, #fefce7);
background: -moz-linear-gradient(left, #6b8e23, #fefce7);
background: -o-linear-gradient(left, #6b8e23, #fefce7);
background: linear-gradient(to right, #6b8e23, #fefce7);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b8e23', endColorstr='#fefce7', GradientType=1)";
padding: 3px 15px;
}

h2.bb-gradient span{
display: block;
float: left;
width: 0;
border-left: 8px #fff solid;
margin: 2px 8px 0 -10px;
height: 21px;
}

.toContact a{
	display: block;
	background:#6b8e23 ;
	color: #fff;
	font-weight: bold;
	font-size:102%;
	padding:5px 10px;
	margin: 10px auto;
	text-align: center;
	border:2px #fff solid;
	 border-radius: 20px; 
    -webkit-border-radius: 20px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 20px;   /* Firefox用 */  /* box-shadow */
box-shadow:rgba(0,0,0, 0.1) 0px 0px 3px 1px;
-webkit-box-shadow:rgba(0,0,0, 0.1) 0px 0px 3px 1px;
-moz-box-shadow:rgba(0,0,0, 0.1) 0px 0px 3px 1px;
}





.toContact a:hover{
	background:#f9963e;
}

.korekara{
	border: #9eb287 solid 3px;
}


.korekara h3,.syuryo h3,.korekara h4,.syuryo h4{
	margin:10px 0 5px 0 !important;
	
}

.korekara .entry-title,.korekara h3,.korekara h4{
	color: #5f7e70;
}


.korekara h1{
}

.korekara h2{
	padding:0 8px 2px 46px;
	font-size:21px;
	color: #9eb287;
	border-bottom: #9eb287 solid 1px;
	padding-left: 15px;
}

.korekara .point{
	font-size:1.1em;
}

.korekara .point strong{
	font-size:1.1em;
	color:#6b8e23;
}

.syuryo{
	border: #deb972 solid 3px;
}

.syuryo h2{
	font-size:21px;
	color: #deb972;
	border-bottom: #deb972 solid 1px;
	padding-left: 15px;
}

.syuryo .entry-title,.syuryo h3,.syuryo h4{
	color: #deb972;
}

.dl01{
	width: 55%;
	float: left;
	margin: 15px;
}

.dl01 dt{
	padding:0 0 0 25px;
	background:url(images/check.jpg) no-repeat;
	background-size:18px 18px;
}

/* =half
-------------------------------------------------------------- */

.half{
	width: 31%;
	max-width:800px;
	margin: 0px 1% 5%;
	overflow: hidden;
	font-size:90%;
	float: left;
}

.half .ttl{	
padding: 2%;
font-weight: bold;
}

.half .fl{
	margin-right: 2%;
}

.half dl{
	float: right;
	width: 44%;
	padding-right: 1%;
}

.half dt{}

.half dd{
	font-size:13px;
	height: 18px;
	background:#fff;
	color: #9eb287;
	border: 1px solid #DDD;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 90px;
	padding: 3px 0;
	text-align: center;
	}


.half img{
	width: 100%;
	float: left;
	max-width: 180px;
	box-shadow: 1px 1px 3px #ccc;
}


.half h6{
	text-align: center;}
	
@media screen and (max-width: 900px) {
	.half{
	width: 46%;
	margin: 0px 2% 5%;
	font-size:90%;
	float: left;
}

.headeing_logo{
	width: 100%;
	max-width: 228px;
	float: none;
	margin: 0px auto;
}
	
.headeing_txt{
	clear: both;
	width: 100%;
}
}

	
@media screen and (max-width: 480px) {
	.half{
	width: 100%;
	margin: 0px auto 5%;
	font-size:90%;
	float: none;
}
}
	
li.flow{
	height: auto !important;
}
	




.brand{
	height: 135px !important;
	background-image:none !important;
	padding:0 !important;
	text-align: center;
}


/* =privacy
-------------------------------------------------------------- */	
	
.privacy{
	width: 96%;
	margin: 30px auto 15px;
}

.faq dt{
}

.faq dd{

}




	
/* =table.schedule
-------------------------------------------------------------- */	
	
table.schedule{
	max-width:700px;
	margin: 0px auto 15px;
}


table.schedule th{
	background:#9eb287;
	color: #fff;
	padding: 15px;
	font-weight:normal;
	width:11%;
}

table.schedule td{
	padding: 15px;
	background:#fff;
}

table.schedule td img{
	max-width:300px;
}



/* =table.priceTable
-------------------------------------------------------------- */

.priceTable{
	width:31% !important;
	margin-right:1em !important;
	float:left !important;
	border-bottom: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-collapse: collapse;
}

.priceTable th,
.priceTable td{
	text-align:center;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	background:#FFF;
	padding:2px;
}

.priceTable th.title{
	background:#9eb287;
	color: #fff;
	text-shadow: 1px 1px 3px #000;
}

.priceTable th.sun{
	color:red;
}

.priceTable th.sat{
	color:blue;
}

.priceTable td .date{

}

.priceTable td .pricevar{
	
}

.priceTable td .pricevar.a{
	background:red;
	color:#FFF;
}

.priceTable td .pricevar.b{
	background:#DDD;
	color:#000;
}

.priceTable td .pricevar.c{
	background:#99FFFF;
	color:#000;
}

.priceTable td .pricevar.d{
	background:#FFCCFF;
	color:#000;
}

.priceTable td .pricevar.e{
	background:#CCFFCC;
	color:#000;
}

.priceTable td .pricevar.f{
	background:#FFFFCC;
	color:#000;
}

.priceTable td .pricevar.g{
	background:#CCCCFF;
	color:#000;
}


.priceTable td .pricevar.h{
	background:#FF9966;
	color:#000;
}

.priceTable td .pricevar.i{
	background:#99CCFF;
	color:#000;
}

@media screen and (max-width: 768px) {
	.priceTable{
		width:100% !important;
		float:none !important;
	}
}


/* =div.priceList
-------------------------------------------------------------- */

div.priceList{
	clear:both;
}

div.priceList .priceBox{
	background:#FFF;
	border:1px solid #ccc;
}

div.priceList .inner{
	padding:10px;
}

div.priceList .title{
	background:#9eb287;
	color: #fff;
	text-shadow: 1px 1px 3px #000;
}

div.priceList ul li{
	padding:0;
	margin:0;
	clear:both;
	border-bottom:1px solid #ccc;
}

div.priceList .left{
	float:left;
	width:46%;
	font-weight:bold;

}

div.priceList .left p{
	padding:0.7em 0 0 0.7em;
	font-size: large;
}

div.priceList .right{
	float:left;
	width:50%;
}

div.priceList dl{
	margin:0;
	padding:0;
}

div.priceList dl dt,
div.priceList dl dd{
	margin:0;
	padding:0;
	line-height:1.2;
}

div.priceList dl dd{
	padding-left:1em;
	margin-bottom:0.5em;
}

div.priceList .clear{
	clear:both;
	display:block;
	font-size:0px;
	line-height:0;
}

@media screen and (max-width: 768px) {
	div.priceList .left,
	div.priceList .right{
		width:100%;
	}
	div.priceList .right{
		padding:0;
	}
}

/* =footer
-------------------------------------------------------------- */

#footer{
	padding:0;
	height: auto;
	overflow: hidden;
	background:url(../images/footer_bg.png) repeat-x top;
}

.copy{
	width: 100%;
	height: 100px;
	color: #fff;
	font-size:20px;
	margin: 57px auto 0;
	padding:25px 15px 0 0;
	text-align: center;
	background:#55752f;
}

#footerUpper{
	background:#fff;
	width: 100%;
	color:#305050;
	padding: 8px;
	overflow: hidden;
}

#footerUpper a{
	font-size:14px;
	text-decoration:none;
	 color:#9eb287;
}

#footerUpper ul{
	width: 100%;
	max-width: 600px;
	margin: 10px auto;
}

#footerUpper li{
	float: left;
	margin-left: 8%;
}


.displayM{
	display:none;
}


.pc-only{
	display:inherit;
}

.sp-only{
	display:none;
}

.red{
	color:#D00306;
}


.contact{
	width: 95%;
}

.contact th{
	width: 35%;
	
}

.contact th,.contact td{
	padding: 10px;
}

.contact th,.contact td{
	border-bottom: 1px #efefef solid;
}
.bn{
	border:none !important;}

.btn{
	text-align: center !important;
}

.form-width { max-width: 80%;}

.sent .formInner {
display: none;
}

div.wpcf7-mail-sent-ok{
	border:none !important;
}

@media screen and (max-width: 767px) {

.pc-only{
	display: none;
}

.sp-only{
	display:inherit;
}

.nivo-caption{
	display: none !important;
}

#logo,#header .toContact{
	float:none;
	margin: 5px auto;
}

.contact th{
	border:none;
	padding-bottom: 0;
}

.contact th,.contact td{
	width: 80%;
  display: block;
}


.form-width { max-width: 80%;}

}

/*幅とマージン設定 */
.ac-container{
    width: 150px;
		position: absolute;
		top:5px;
		right:5px;
		}
 
/*クリックできるようにする設定とか */
.ac-container label{
    padding: 3px 8px;
    position: relative;
    z-index: 20;
    display: block;
    height: 30px;
    cursor: pointer;
    line-height: 33px;
		text-align: center;
		border:#305050 1px solid;
}
 

.ac-container label:hover{
	color: #fff;
    background: #305050;
}
 
/*クリック時にチェックボックスをオンにする */
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
    background: #305050;
    color: #fff;

}
 
/*下向き矢印アイコンを入れる */
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    background: transparent url(images/arrow_down.png) no-repeat center center;  
}
 
/*選択後に表示される上向きの矢印アイコンを入れる */
.ac-container input:checked + label:hover:after{
    background-image: url(images/arrow_up.png);
}
 
/*ラジオボタンを隠す */
.ac-container input{
    display: none;
}
 
/*コンテンツ部分の表示・非表示の設定 */
.ac-container article{
    background:#fff;
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    transition: 
        height 0.3s ease-in-out, 
        box-shadow 0.6s linear;
}
.ac-container input:checked ~ article{
    transition: 
        height 0.5s ease-in-out, 
        box-shadow 0.1s linear;
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
 
 
/*３つのクラスの高さを定義する */
.ac-container input:checked ~ article.ac-small{
    height: 185px;
		width: 150px;
}

/* Facebook Like Box width:100% */
.fbcomments,
.fb_iframe_widget,
.fb_iframe_widget[style],
.fb_iframe_widget iframe[style],
.fbcomments iframe[style],
.fb_iframe_widget span{
    width: 100%! important;
		background:#fff;
}

/*170426追記*/
.korekara h2.yaku-ttl {
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  border-left: 10px solid #6b8e23;
  margin: 20px 0 30px;
  border-bottom: 0px;
  padding: 3px 0px 3px 10px;
}
.pagelist {
  width: 100%;
}
.pagelist__box {
  display: flex;
  justify-content: space-between;
  padding: 0 12%;
}
.entry-content li.pagelist__name {
  margin: 0px auto;
  width: 45%;
}
.pagelist__link {
  display: block;
  text-align: center;
  padding: 15px 0px;
  background-color: #F9BD00;
  border-radius: 8px;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin: 5px 0;
}
a.pagelist__link {
  color: #ffffff;
}
@media screen and (max-width: 768px){
  .pagelist__box {
      padding: 0px;
  }
  .entry-content li.pagelist__name {
    margin: 0px auto;
    width: 65%;
  }
}
.entry-content .price-table {
  margin-bottom: 0px;
}
.price-calendar {
  margin: 0 0 20px;
  text-decoration: underline;
  font-weight: bold;
}


/*	2017/5/25
============================*/

.post-tag a{
    background: #00af96;
    padding: 5px 7px;
    border-radius: 5px;
    color: #fff;
    margin: 10px 2px 0;
    display: inline-block;
}
body.category h2.what,
body.tag h2.what{
	padding-left: 50px;
}
.right ul{
	margin-left: 25px;
}

		.anchorpoint{
			font-size:1px;}
		#anchormenu{

		}
		#anchormenu nav ul li{
			float:left;
			margin-bottom:0.5em;
			width:12.5%;
		}
		#anchormenu nav ul li span{
		}
		#anchormenu nav ul li a{
			display:block;
			font-size:90%;
			padding:0.8em;
			text-align:center;
			border-left:1px solid #CCC;
		}
			#anchormenu nav ul li.last a{
				border-right:1px solid #CCC;
			}
			#anchormenu nav ul li a:hover{
				text-decoration:underline;
			}
		@media screen and (max-width: 768px) {
			#anchormenu nav ul li{
				float:none;
				width:100%;
			}
			#anchormenu nav ul li a{
				padding:0.2em;
				border:none !important;
				text-align:left;
			}
		}
		.to_menu{
			clear:both;
			margin-bottom:1em;
		}

table.type06 th {
		  border-collapse: collapse;
  border: 1px solid #ccc;
  line-height: 1.5;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  background: #3f3f3f;
  color: #ffffff;
}
table.type06 td {
	  border-collapse: collapse;
  border: 1px solid #ccc;
  line-height: 1.5;
  width: 350px;
  padding: 10px;
  vertical-align: top;
}

.tourtitle h2{
	font-size:21px;
	color: #9eb287;
	margin-top:30px;
	border-bottom: #9eb287 solid 1px;
	padding-left: 15px;
}

.tourdetail{
	width:100%;
}

.tourdetailtitle{
	font-weight:bold;
	font-size:large;
	width:20%;
	float:left;
  	color: #2d8fdd;
  	border-left: solid 6px #6b8e23;/*左側の線*/
  	margin-top:2px;
  	margin-bottom: 3px;/*下のバーとの余白*/
 	line-height: 1.5;
  	padding: 0.5em;
  	list-style-type: none!important;/*ポチ消す*/

}

.tourdetailcontent{
	font-weight:bold;
	font-size:large;
	width:80%;
	float:left;
  	color: #2d8fdd;
  	margin-top:2px;
  	margin-bottom: 3px;/*下のバーとの余白*/
 	line-height: 1.5;
  	padding: 0.5em;
  	list-style-type: none!important;/*ポチ消す*/
}

.pricered{
	font-weight:bold;
	font-size:large;
	color:red;
}

.tourdetailcontent {
	font-weight:bold;
	font-size:large;
}